<link rel="stylesheet" href="/assets/css/devoured.css">
<aside>
    {{#if this.length }}
    <h2 class="div-title">Burgers devoured</h2>
    <section class="card-list">
        {{#each this}}
            <div class="card-item">
                <figure class="card-figure">
                    <img class="card-img" src="{{this.src}}" alt="{{this.burger_name}}" title="{{this.title}}" id="{{this.menu_id}}">
                    <figcaption class="card-caption">{{this.burger_name}}</figcaption>
                </figure>
            </div>
        {{/each}}
    </section> 
    {{/if}}
</aside>
