<link rel="stylesheet" href="/assets/css/menu.css">
<aside>
    {{#if this.length }}
    <h2 class="div-title">Menu Items</h2>
    <section class="menu-list">
        {{#each this}}
            <div class="menu-item">
                <button class="menu-button" data-id="{{this.menu_id}}">Order</button>
                <figure class="menu-figure">
                    <img class="menu-img" src="{{this.src}}" alt="{{this.burger_name}}" title="{{this.title}}" id="{{this.menu_id}}">
                    <figcaption class="menu-caption">{{this.burger_name}}</figcaption>
                </figure>
            </div>
        {{/each}}
    </section> 
    {{/if}}
</aside>
